<p-table 
    [columns]="cols" 
    [value]="cars" 
    [scrollable]="true" 
    scrollHeight="400px" 
    [virtualScroll]="true"
    [virtualScrollItemSize]="46">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" style="width: 20%;">
                    {{ col }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cars let-columns="columns">
            <tr style="height:46px">
                <td>
                    {{cars.Vin}}
                </td>
                <td>
                    {{cars.Year}}
                </td>
                <td>
                    {{cars.Brand}}
                </td>
                <td>
                    {{cars.Color}}
                </td>
            </tr>
        </ng-template>
</p-table>