<header>
    <title>Home</title>
</header>
<button (click)="redirectToPath('first')" pButton pRipple label="Click" class="p-button-success" size="small"></button>
1. First Component
<br><br/>
<button (click)="redirectToPath('calculator')" pButton pRipple label="Click" class="p-button-success" size="small"></button>
2. Calculator
<br><br/>
<button (click)="redirectToPath('call')" pButton pRipple label="Click" class="p-button-success" size="small"></button>
3. Create & Call Component
<br><br/>
<button (click)="redirectToPath('input')" pButton pRipple label="Click" class="p-button-success" size="small"></button>
4. Input Component
<br><br/>
<button (click)="redirectToPath('bindingandoutput')" pButton pRipple label="Click" class="p-button-success" size="small"></button>
5. Event Binding & Output Component & EventEmitter
<br><br/>
<button (click)="redirectToPath('maxminmeter')" pButton pRipple label="Click" class="p-button-success" size="small"></button>
6. [Excercise 1,2] Max Min Meter
<br><br/>
<button (click)="redirectToPath('stylebinding')" pButton pRipple label="Click" class="p-button-success" size="small"></button>
7. Style Binding
<br><br/>
<button (click)="redirectToPath('twoway')" pButton pRipple label="Click" class="p-button-success" size="small"></button>
8. Two way
<br><br/>
<button (click)="redirectToPath('ngif')" pButton pRipple label="Click" class="p-button-success" size="small"></button>
9. *ngIf
<br><br/>
<button (click)="redirectToPath('ngifelse')" pButton pRipple label="Click" class="p-button-success" size="small"></button>
10. *ngIf Else
<br><br/>
<button (click)="redirectToPath('array')" pButton pRipple label="Click" class="p-button-success" size="small"></button>
11. Array
<br><br/>
<button (click)="redirectToPath('request')" pButton pRipple label="Click" class="p-button-success" size="small"></button>
12. Request
<br><br/>
<button (click)="redirectToPath('primeng')" pButton pRipple label="Click" class="p-button-success" size="small"></button>
13. PrimeNG
<br><br/>
<button (click)="redirectToPath('table')" pButton pRipple label="Click" class="p-button-success" size="small"></button>
14. Table
<br><br/>
<button (click)="redirectToPath('shopping')" pButton pRipple label="Click" class="p-button-success" size="small"></button>
15. Shopping
<br><br/>
<button (click)="redirectToPath('getset')" pButton pRipple label="Click" class="p-button-success" size="small"></button>
16. Get Set
<br><br/>
<button (click)="redirectToPath('directive')" pButton pRipple label="Click" class="p-button-success" size="small"></button>
17. Directive
<br><br/>
<button (click)="redirectToPath('reactiveform')" pButton pRipple label="Click" class="p-button-success" size="small"></button>
18. Reactive Form Module & Multiple Validate
<br><br/>
<button (click)="redirectToPath('viewchild')" pButton pRipple label="Click" class="p-button-success" size="small"></button>
19. View Child
<hr/>
<button (click)="redirectToPath('login')" pButton pRipple label="Click" class="p-button-success" size="small"></button>
Login